  <footer class="page-footer cyan accent-5">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Galera do Patins - Umuarama</h5>
          <p class="grey-text text-lighten-4">Somos fodas e é isso mesmo meu irmaooo, se quiser colar cunois é só entrar no nosso grupo do 
            zap zap. Seguindo as regras e tiver um patins, só seguir o bonde. 
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contatos</h5>
          <ul>
        
            <li><a class="white-text" href="#!">  <i class="fa fa-facebook-official" aria-hidden="true"></i>  Facebook</a></li>
            <li><a class="white-text" href="#!">  <i class="fa fa-instagram" aria-hidden="true"></i>  Instagram</a></li>
            <li><a class="white-text" href="#!">   <i class="fa fa-whatsapp" aria-hidden="true"></i>  WhatsApp</a></li>
    
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div>
                Made by <a target="_blank" class="orange-text text-lighten-3" href="https://github.com/tangriane">Tangriane</a>
                
            </div>
        </div>
    </div>
</footer>