---
layout: default
---
<div class="parallax-container">
    <div class="parallax"><img src="/img/patins-sobre.png"></div>
   <div class="back-sobre">
    <h1 class="text-sobre">SOBRE</h1>
</div>
  </div>
  <style>
      .back-sobre{
         
          align-items: center;
          justify-content: center;
          display: flex;
      }
      .text-sobre{
        background-color: rgba(16, 139, 139, 0.301);
          color:#fff;
          width: 200px;
      }
  </style>

  <div class="section white">
<div class="container">

    {{ content }}

</div>
</div>