---
layout: default
---
<div class="parallax-container">
    <div class="parallax"><img src="/img/patins-sobre.jpg"></div>
   <div class="back-sobre">
    <h1 class="title-perfect text-sobre">Quem Somos</h1>
</div>
  </div>
  <style>
      .back-sobre{
          background-color: #4c8981ad;
          align-items: center;
          justify-content: center;
          display: flex;
          width: 100%;
          height: 100%;
      }
      .text-sobre{
       
          color:#fff;
          
      }
  </style>

  
<div class="container">

    {{ content }}

</div>
